<!DOCTYPE html>
<html>
<head>
  <title>Baby</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller_name %> <%= action_name %>">
  <div class="navbar navbar-static-top">
    <div class="navbar-inner">
      <a class="brand" href="#">Baby</a>
      <% if current_user %>
        <div class="btn-group pull-right">
          <button class="btn btn-small">Name</button>
          <button class="btn btn-small dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">

          </ul>
        </div>
      <% end %>
    </div>
  </div>
  <% if flash[:notice] %>
    <div class="alert alert-info">
      <%= flash[:notice] %>
    </div>
  <% end %>
  <%= yield %>

  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
</body>
</html>
